/** User Page **/
#points-level {
	margin: 0;
}

#profile-toggle-button {
	top: -29px;
}

#profile-toggle-button a {
	text-decoration: none;
}

#profile-toggle-button a:hover {
	color: #c07c00;
}

/** Edit Profile **/
.profile-tab-bar {
	padding: 0;
}

.profile-update-title {
	padding: 0;
}

.profile-tab-bar {
	border-bottom: 0;
}

.profile-tab {
	border: 0;
}

.profile-tab-on {
	border: 0;
}
